.result-card{
  border:1px solid #ddd;
  padding:15px;
  margin:15px 0;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.color-row{
  display:flex;
  gap:20px;
  margin-top:12px;
  flex-wrap:wrap;
}

.color-box{
  width:110px;
  height:120px;
  border-radius:10px;
  border:1px solid #333;

  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;

  padding-top:8px;
  overflow:hidden;
}

.color-box:hover{
  transform:scale(1.05);
  transition:0.2s;
  cursor:pointer;
}

.color-label{
  width:100%;
  text-align:center;
  background:rgba(0,0,0,0.6);
  color:white;
  font-size:12px;
  padding:3px 0;
}

.selected-color{
  display:flex;
  align-items:center;
  gap:15px;
  margin:10px 0;
}

.selected-box{
  width:50px;
  height:50px;
  border-radius:8px;
  border:2px solid #222;
}

.hex{
  font-weight:600;
  font-size:16px;
}

.feedback-buttons{
  display:flex;
  gap:5px;
  margin-bottom:6px;
}

.feedback-buttons button{
  padding:3px 6px;
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-size:12px;
}

.upload-grid{
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:40px;
  align-items:start;
}

canvas{
  margin-top:10px;
  border-radius:8px;
  border:1px solid #ccc;
  max-width:100%;
}

.color-picker{
  width:100%;
  height:40px;
  border-radius:6px;
  border:none;
  margin-bottom:15px;
}

.user-menu{
  position:relative;
}

.dropdown{
position:relative;
}

.dropdown-content{
  position:absolute;
  right:0;
  top:45px;

  background:white;
  color:#333;
  border-radius:10px;

  box-shadow:0 10px 25px rgba(0,0,0,0.3);
  padding:10px;

  display:flex;
  flex-direction:column;
  gap:10px;

  min-width:150px;
}

.dropdown-content a{
  color:#333;
  text-decoration:none;
  padding:6px;
  border-radius:6px;
}

.dropdown-content a:hover{
  background:#f3f4f6;
}

.dropdown-content button{
  background:#2563eb;
  border:none;
  color:white;
  padding:6px;
  border-radius:6px;
  cursor:pointer;
}

.dropdown-content button:hover{
  background:#1d4ed8;
}

.best{
border:2px solid gold;
box-shadow:0 0 10px gold;
}

.top-bar{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:10px 20px;
  margin-bottom:20px;
}

.logo{
  font-weight:600;
  font-size:18px;
  color:white;
}

.menu-btn{
  background:#2563eb;
  border:none;
  color:white;
  padding:8px 12px;
  border-radius:6px;
  cursor:pointer;
  font-size:16px;
}

.user-info{
  color:white;
  font-size:14px;
  margin-right:15px;
}